@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cardo:ital@1&family=Cinzel&family=Cormorant+SC:wght@500&family=Dancing+Script:wght@600&family=Emilys+Candy&family=Fasthand&family=Georama:wght@300&family=Joan&family=Kdam+Thmor+Pro&family=Mina&family=Montserrat:wght@300&family=Nuosu+SIL&family=Odibee+Sans&family=Orbitron:wght@900&family=Oswald&family=Playfair+Display&family=Reggae+One&family=Rowdies&family=Rubik+Glitch&family=Ubuntu:wght@200&display=swap');












*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_div{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rowdies', cursive;
    font-weight: 100;

}

h1{
    background-image: url(2070.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 150px;



    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;

}