*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main_div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.center_div{
    height: 60vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efaaaa;
    
}

.center_div .loader{
    width: 15rem;
    height: 15rem;
    background-color: transparent;
    border-radius: 50%;
    border: 2rem solid white;
    border-top: 2rem solid yellow;
    animation: loader 2s linear infinite;
}


@keyframes loader{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}